.bg {
  background-image: url(./assets/leaft.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.fontBold {
  font-weight: 700;
}

.fontLight {
  font-weight: 300;
}
